.post {
  font-size: 1rem;
  line-height: 1.5;

  &__header,
  &__content {
    margin-bottom: 1.5em;
  }

  &__title {
    margin: 0.5em 0;
  }

  &__content {
    font-size: 1.1em;
    line-height: 1.6;
  }
}