$font-sans-serif: -apple-system, BlinkMacSystemFont,
  'PT Sans', 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica,
  'PingFang SC', 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', '微软雅黑',
  'WenQuanYi Micro Hei', 'Noto Sans SC', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-serif: Charter, Cambria, 'Palatino Linotype', Palatino, Georgia,
  'Noto Serif SC', PMingLiu, STSong, SimSun, 'WenQuanYi Bitmap Song', serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-monospace: 'SF Mono', 'Roboto Mono', Menlo, Consolas, 'Courier New', monospace;

$background-color: white;
$background-color--lightgray: #f8f8f8;
$font-color: #222;
$font-color--light: #555;
$link-color: #f24747;
$border-color: #ddd;
$code-color: #d5635d;
$code-bg-color: rgba(0, 0, 0, 0.05);
$page-width: 680px;