<article class="post{{' hide-toc' if not isPostPage else ''}}">
  <header class="post__header">
    <h1 class="post__title">
      <a title="{{title}}" href="{{url}}">{{title}}</a>
    </h1>
    <div class="post__meta">
      {% include "./article-meta.html" %}
    </div>
  </header>
  {% if excerpt and not isPostPage -%}
  <div class="post__content">
    {{excerpt | safe}}
  </div>
  <footer class="post__footer">
    <a class="post__more" title="Read more" href="{{url}}">&rarr; Read more...</a>
  </footer>
  {% else -%}
  <div class="post__content">
    {{content | safe}}
  </div>
  {%- endif %}
  {% if isPostPage and comments != 'no' -%}
  <section class="comments">
    {% include "./plugin-disqus.html" %}
  </section>
  {%- endif %}
</article>
