<!DOCTYPE html>
<html class="root">
  {% include "./head.html" %}
  <body class="page-wrapper{{' single-post-page' if isPostPage else ''}}">
    <header class="page-head">
      <h1 class="page-head__title">
        <a class="page-head__link" title="Go to front page" href="{{$site.url}}">{{$site.name}}</a>
      </h1>
    </header>
    <main class="page-main">
      {% block content %}{% endblock %}
    </main>
    <aside class="page-aside">
      {% if not isPostPage -%}
      {% include "./aside-tags.html" %}
      {%- endif %}
    </aside>
    <footer class="page-footer{{' page-footer--post' if isPostPage else ''}}">
      <ul class="page-footer__links">
        <li class="page-footer__links-item">
          <a class="page-footer__link" href="{{$site.url}}">Home</a>
        </li>
        <li class="page-footer__links-item">
          <a class="page-footer__link" href="{{'page:about' | xref}}" title="About">About</a>
        </li>
        <li class="page-footer__links-item">
          <a class="page-footer__link" href="{{'page:archive' | xref}}" title="Articles">Articles</a>
        </li>
      </ul>
    </footer>
    {% include "./foot.html" %}
  </body>
</html>