{% macro listPosts(posts, limit = 0) -%}
{% if limit <= 0 or limit > posts.length %}{% set limit = posts.length %}{% endif -%}
<ol class="post-list{{' post-list--with-labels' if limit >= 10 else ''}}">
  {% for title, url, absoluteUrl, author, time, tags, excerpt, content, comments in posts -%}
  {% if loop.index <= limit -%}
  <li class="post-list__item">
    <h2 class="post-list__title">
      <a class="post-list__link" title="{{title}}" href="{{url}}">{{title}}</a>
    </h2>
    <div class="post__meta post__meta--small">
      {% include "./article-meta.html" %}
    </div>
  </li>
  {%- endif %}
  {%- endfor %}
</ol>
{%- endmacro %}
